<div class="col-lg-3 col-md-6 footer-links mb-5">
    <h4>Tautan Penting</h4>
    <ul>
      <li class="mb-2"><a class="link-light link-opacity-75-hover link-underline-opacity-0" href="#">Tentang Kami</a></li>
      <li class="mb-2"><a class="link-light link-opacity-75-hover link-underline-opacity-0" href="#">Daftar Wisata</a></li>
      <li class="mb-2"><a class="link-light link-opacity-75-hover link-underline-opacity-0" href="#">Penginapan</a></li>
      <li class="mb-2"><a class="link-light link-opacity-75-hover link-underline-opacity-0" href="#">Rute</a></li>
      <li class="mb-2"><a class="link-light link-opacity-75-hover link-underline-opacity-0" href="#">Blog</a></li>
      <li class="mb-2"><a class="link-light link-opacity-75-hover link-underline-opacity-0" href="#">Kontak</a></li>
    </ul>
  </div>
